@import url(http://fonts.googleapis.com/css?family=Balthazar);

#container {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

#playfield {
	background: green;
	height: 600px;
	width: 100%;
	padding: 10px 20px;
	position: relative;
	h1 {
		font-family: 'Balthazar'
	}
	#strt_btn {
		position: absolute;
		left: 50%;
		top: 20%;
	}
}