@import url(http://fonts.googleapis.com/css?family=Balthazar);
/* line 3, style.scss */
#container {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

/* line 9, style.scss */
#playfield {
  background: green;
  height: 600px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}
/* line 15, style.scss */
#playfield h1 {
  font-family: "Balthazar";
}
/* line 18, style.scss */
#playfield #strt_btn {
  position: absolute;
  left: 50%;
  top: 20%;
}
