@import url(http://fonts.googleapis.com/css?family=Balthazar);
/* line 13, style.scss */
h1, h2, h3, p, a {
  font-family: 'Balthazar';
}

/* line 17, style.scss */
#container {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

/* line 23, style.scss */
button {
  background-color: #ff00;
  border: none;
  padding: 5px;
  font-size: .8em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 31, style.scss */
#playfield {
  background-image: url("../img/grey_wash_wall.png");
  background-repeat: repeat, no-repeat;
  height: 600px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}
/* line 38, style.scss */
#playfield h1 {
  display: inline;
  font-size: 4.5em;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
}
/* line 43, style.scss */
#playfield #strt_btn {
  position: absolute;
  left: 3%;
  top: 12%;
}
/* line 48, style.scss */
#playfield .guiCard, #playfield #guiDeck {
  height: 140px;
  width: 90px;
  background-color: blue;
  margin-right: 10px;
  display: inline-block;
  border: 4px solid #ffffff;
  background-image: url("../img/green_cup.png");
  background-repeat: repeat, no-repeat;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 60, style.scss */
#playfield #guiDeck {
  background-color: red;
  position: absolute;
  top: 30px;
  right: 40px;
}
/* line 67, style.scss */
#playfield #top-player, #playfield #btm-player {
  position: absolute;
  left: 20%;
  height: 150px;
  width: 600px;
  padding: 10px;
}
/* line 76, style.scss */
#playfield #btm-player {
  bottom: 8%;
}
/* line 80, style.scss */
#playfield .action-btn {
  float: right;
  display: inline;
}

/* line 86, style.scss */
top-player-1, top-player-2, top-player-3, top-player-4, top-player-5 {
  position: relative;
}
